@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sourgummy Font Faces */
@font-face {
  font-family: "Sourgummy";
  src: url("/fonts/SourGummy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.backgroundReset {
  background: rgba(3, 13, 67, 0.9);
  backdrop-filter: blur(40px);
}
.scroll::-webkit-scrollbar {
  display: none;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(3, 13, 67, 0.9);
  background-size: cover;
  font-family: "Sourgummy", sans-serif;
}

body {
  font-family: "Sourgummy", sans-serif;
}
/* body {
  font-family: var(--font-sourgummy), sans-serif;
} */
